

<div class="tourney-info">
  <div class="tourney-info__title"> <strong> <%= @tourney.title %> </strong> </div>
</div>
    

<div class="tourney">
  <div class="tourney__header">
    <div class="tourney__player">
      <p>
        All Matches - Player: <strong> <%= @user.username %> </strong> 
      </p> 
    </div>
    <% if is_current_user(@user) %>
      <div class="tourney__button">
        <%= link_to 'Upload Match', new_frontend_user_tourney_match_path(@user, @tourney), class: 'button__user-page', remote: true %>
      </div>
    <% end %>
  </div>
    <div id="tourneys" class="tourney__stats">
      <%= turbo_stream_from @tourney %>
      <%= turbo_frame_tag "matches" do %>
      <%#= render partial: "frontend/matches/match", collection: @matches, formats: [:html], handlers: [:erb] %>
          <%= render @matches %>
      <% end %>
    </div>
</div>