<%= form_for [@user, @tourney], class: 'popup-form', remote: true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :spreadsheet %>
    <%= form.text_field :spreadsheet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
