<%= form_with(model: tourney) do |form| %>
  <% if tourney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tourney.errors.count, "error") %> prohibited this tourney from being saved:</h2>

      <ul>
        <% tourney.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :spreadsheet %>
    <%= form.text_field :spreadsheet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
