<div class="register">
    <%=form_with(url: register_path, scope: :user, local: true) do |f| %>
        <%= f.label :username, 'Username:', class: 'register__label' %> 
        <%= f.text_field :username, class: 'register__textfield' %> <br>
        <%= f.label :email, 'Email:', class: 'register__label' %>
        <%= f.email_field :email, class: 'register__textfield' %> <br>
        <%= f.label :password, 'Password:', class: 'register__label' %>
        <%= f.password_field :password, class: 'register__textfield'%> <br>
        <%= f.submit 'Deez', class: 'button register__submit'%>
    <% end %>
</div>