<div class="user-page">
  <div class="user-page__info">
    <div class="user-data">
      <div class="user-data__avatar avatar">
        <img src="<%= @user.avatar_url %>" class="avatar__img">
        <span class="user-data__username"> <%= @user.username + "'s Tournament Profile" %> </span>
      </div>
      <div class="user-data__buttons">
        <%= link_to 'osu! Profile', "https://osu.ppy.sh/users/#{@user.user_id}", class: 'button__user-page', target: '_blank'%>
        <%= link_to 'Twitch Channel', '#', class: 'button__user-page'%>
      </div>
    </div>
  </div>
  <div class="user-page__stats">

  </div>
  <div class="user-page__tourneys">
    <% @tourneys.each do |t|%>
      <div class="tourney-card">
        <div class="tourney-card__color"></div>
        <ul class="tourney-stats">
          <li class="tourney-stats__item"> <%= t.title %></li>
          <li class="tourney-stats__item"> 3x </li>
          <li class="tourney-stats__item"> 950x</li>
          <li class="tourney-stats__item"> 3.3</li>
          <li class="tourney-stats__item"> <%= link_to 'Upload Match', new_user_tourney_match_path(@user, t) %></li>
          <li class="tourney-stats__item user-data__avatar"> <%= link_to image_tag("link.png", class: 'avatar__img avatar__img--inverted'), user_tourney_path(@user, t)%>
        </ul>
      </div>
    <% end %>
  </div>