<div class="user-page">
  <div class="user-page__info">
    <div class="user-data">
      <div class="user-data__avatar avatar">
        <img src="<%= @user.avatar_url %>" class="avatar__img">
        <span class="user-data__username"> <%= @user.username + "'s Tournament Profile" %> </span>
      </div>
      <div class="user-data__buttons">
        <%= link_to 'osu! Profile', "https://osu.ppy.sh/users/#{@user.user_id}", class: 'button__user-page', target: '_blank'%>
        <%= link_to 'Twitch Channel', '#', class: 'button__user-page'%>
        <div class="user-data__lel">
          <%= link_to 'Upload Tourney', new_user_tourney_path(@user), class: 'button__user-page create_tourney', remote: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="user-page__stats">

  </div>
  <div class="user-page__tourneys">
    <%= render @tourneys %>
  </div>
</div>