%nav.navbar
    %ul.navbar__left
        %li.navbar__item.navbar__logo
            = link_to(image_tag("osu!logo.png"), frontend_root_path)
        %li.navbar__item
            = link_to "Home", frontend_root_path, class: "navbar__home"
        %li.navbar__item
            = link_to "About", frontend_root_path, class: "navbar__home"
        %li.navbar__item
            = link_to "Leaderboard", frontend_root_path, class: "navbar__home"
        %li.navbar__item
            = link_to "FAQ", frontend_root_path, class: "navbar__home"
        %li.navbar__item.navbar__search
            = link_to(image_tag("search icon.svg"))
    %ul.navbar__right
        %li.navbar__item--tight
            = link_to(image_tag("discord icon.svg"))
        %li.navbar__item--tight
            = link_to(image_tag("twitter icon.svg"))
        %li.navbar__item--tight
            = link_to(image_tag("github icon.svg"))
        %li.navbar__item
            - if logged_in?
                = link_to(image_tag(current_user.avatar_url, class: "avatar__img"), frontend_user_path(current_user))
            - else
                = link_to "Login!", frontend_login_path, class: "button button--light"
                