<div>
    <%= form_for @news do |f| %>
        <%= f.text_field :cover_image %>
        <%= f.text_field :title %>
        <%= f.rich_text_area :description %>
        <%= f.button 'Submit' %>
    <% end %>
</div>