<div class="form">
  <%= form_for [@user, @tourney, @match], :html => {class: 'popup-form'} do |form| %>
    <div class="field">
      <%= form.label :mp_link %>
      <%= form.text_field :mp_link %>
    </div>

    <div class="field">
      <%= form.label :warmup %>
      <%= form.text_field :warmup %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
