<!DOCTYPE html>
<html>
  <head>
    <title>osu!tourney - Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/beta_alert"%>
    <%= render partial: "shared/alert"%>
    <%= render partial: "shared/navbar"%>
    <%= yield %>
    <%= render partial: "shared/footer"%>
    <%= javascript_pack_tag "vanilla-tilt" %>
  </body>
</html>
