<!DOCTYPE html>
<html>
  <head>
    <title><%= "Admin - #{page_title}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/849604504613945364/904385120251809802/XOhIzgk.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'backend', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/beta_alert"%>
    <%= yield %>
    <br> <br> <br>
    <%= render partial: "shared/footer"%>
  </body>
</html>
